<% content_for :breadcrumb do %>
    <li class="breadcrumb-item active" aria-current="page">
       Create 
    </li>
<% end %>

<section id="create-form-container">
    <h2>Novo OBJETO</h2>
    <div class="row">

        <div class="col-md-12">

            <!-- commom bootstrap form -->
            <div class="card mb-4">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">Helper para texto.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Checkbox</label>
                        </div>
                    </form>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <a href="listagem.html" type="submit" class="d-inline-block btn btn-secondary me-2"><i class="bi bi-arrow-left"></i> Retornar</a>
                    <button type="submit" class="btn btn-warning me-2"><i class="bi bi-eraser"></i> Apagar</button>
                    <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Submit</button>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- main script -temp -->
<script>
    $(document).ready(function() {

        var cardHeight = $('#create-form-container .card').outerHeight();
        const fixCardFooter = () => {
            $('#create-form-container .card .card-footer').addClass('sticky').width($('#create-form-container .card-body').width()).css({left: $('#create-form-container').offset().left + 1});
            $('#create-form-container .card').css({paddingBottom: $('#create-form-container .card .card-footer').outerHeight()});
        };

        const unfixCardFooter = () => {
            $('#create-form-container .card .card-footer').removeClass('sticky').width('auto').css({left: 0});
            $('#create-form-container .card').css({paddingBottom: 0});
        };

        // if document.height > window.height
        if ($(document).height() > $(window).height()) {
            fixCardFooter();
        }

        // sticky footer on scroll
        $(window).scroll(function() {

            // fix footer if page have scroll
            if ($(window).scrollTop() + $(window).height() <= $(document).height() -110 ) {
                fixCardFooter();
            } else {
                unfixCardFooter();
            }

        });


    });
</script>