<% content_for :breadcrumb do %>
    <li class="breadcrumb-item active" aria-current="page">
       Dashboard 
    </li>
<% end %>

<div class="container my-4">
    <div class="d-flex align-items-center justify-content-center" style="height: 650px">
        <div class="p-2 bd-highlight col-example">
            <%= image_tag "main-logo.png", class: "mw-250px mh-250px card-rounded" %>
        </div>
    </div>
</div>
