<% content_for :breadcrumb do %>
    <li class="breadcrumb-item active" aria-current="page">
       Listagem
    </li>
<% end %>

<!-- listagem de notícias -->
<section id="list-example" class="sm-hero__section">
    <h2 class="sm-hero__section-title">List Datatable</h2>


    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle"></i>
        <strong>Sucesso!</strong> Registro cadastrado.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="sm-hero__toolbox mb-3">
        <div class="card shadow-sm">

            <div class="card-body p-2">
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-sm border-0 btn-outline-success"><i class="bi bi-plus"></i> Adicionar (modal)</a>
                <a href="create.html" class="btn btn-sm border-0 btn-outline-success"><i class="bi bi-link"></i> Adicionar (form externo)</a>
                <a href="#" class="btn btn-sm border-0 btn-outline-primary" onclick="toastify('mensagem', 'success')" ><i class="bi bi-info-circle"></i> ação 1</a>
                <a href="#" class="btn btn-sm border-0 btn-outline-secondary"><i class="bi bi-info-circle"></i> ação 2</a>
                <a href="#" class="btn btn-sm border-0 btn-outline-warning float-end"><i class="bi bi-info-circle"></i> ação 3</a>
            </div>

        </div>
    </div>

    <div class="sm-hero__toolbox mb-3 card shadow-sm">
        <div class="card-body p-3">

            <div class="row">

                    <h6>Filtros:</h6>
                <div class="col-md-6">

                        <div class="row align-items-center mb-3">
                            <div class="col-xs-12 col-sm-3">
                                <p class="d-flex mb-0 justify-content-end">
                                    <label>
                                        <span>Unidade gestora</span>
                                    </label>
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <div class="w-100">

                                    <select class="form-control form-select">

                                        <option value="?" selected="selected"></option>
                                        <option value=""></option><option label="PREFEITURA MUNICIPAL DE MOSSORÓ" value="object:381">PREFEITURA MUNICIPAL DE MOSSORÓ</option>
                                        <option label="FUNDO MUNICIPAL DE SAÚDE" value="object:382">FUNDO MUNICIPAL DE SAÚDE</option>
                                        <option label="FUNDO MUNICIPAL DE ASSISTÊNCIA SOCIAL" value="object:383">FUNDO MUNICIPAL DE ASSISTÊNCIA SOCIAL</option>
                                        <option label="SECRETARIA MUNICIPAL DE PLANEJAMENTO, ORÇAMENTO E GESTÃO" value="object:384">SECRETARIA MUNICIPAL DE PLANEJAMENTO, ORÇAMENTO E GESTÃO</option>
                                        <option label="SECRETARIA MUNICIPAL DE SEGURANÇA PUB. D. CIVIL. MOBILIDADE URBANA E TRÂNSITO" value="object:385">SECRETARIA MUNICIPAL DE SEGURANÇA PUB. D. CIVIL. MOBILIDADE URBANA E TRÂNSITO</option>
                                        <option label="SECRETARIA MUN. DE INF., MEIO AMB., URB. E SERVIÇOS URBANOS" value="object:386">SECRETARIA MUN. DE INF., MEIO AMB., URB. E SERVIÇOS URBANOS</option>
                                        <option label="SECRETARIA MUNICIPAL DE GOVERNO " value="object:387">SECRETARIA MUNICIPAL DE GOVERNO </option>
                                        <option label="SECRETARIA MUNICIPAL DE FINANÇAS" value="object:388">SECRETARIA MUNICIPAL DE FINANÇAS</option>
                                        <option label="SECRETARIA MUNICIPAL DE ESPORTE E JUVENTUDE " value="object:389">SECRETARIA MUNICIPAL DE ESPORTE E JUVENTUDE </option>
                                        <option label="SECRETARIA MUNICIPAL DE EDUCAÇÃO" value="object:390">SECRETARIA MUNICIPAL DE EDUCAÇÃO</option>
                                        <option label="SEC. MUN. DO DESENV. ECONÔMICO, INOVAÇÃO E TURISMO" value="object:391">SEC. MUN. DO DESENV. ECONÔMICO, INOVAÇÃO E TURISMO</option>
                                        <option label="SECRETARIA MUNICIPAL DE CULTURA " value="object:392">SECRETARIA MUNICIPAL DE CULTURA </option>
                                        <option label="SECRETARIA MUNICIPAL DE COMUNICAÇÃO SOCIAL " value="object:393">SECRETARIA MUNICIPAL DE COMUNICAÇÃO SOCIAL </option>
                                        <option label="SECRETARIA MUNICIPAL DE AGRICULTURA E DESENVOLVIMENTO RURAL" value="object:394">SECRETARIA MUNICIPAL DE AGRICULTURA E DESENVOLVIMENTO RURAL</option>
                                        <option label="PROCURADORIA GERAL DO MUNICÍPIO " value="object:395">PROCURADORIA GERAL DO MUNICÍPIO </option>
                                        <option label="CONTROLADORIA GERAL DO MUNICÍPIO " value="object:396">CONTROLADORIA GERAL DO MUNICÍPIO </option>
                                        <option label="SECRETARIA MUNICIPAL DE FAZENDA " value="object:397">SECRETARIA MUNICIPAL DE FAZENDA </option>
                                        <option label="SECRETARIA MUNICIPAL DE ADMINISTRAÇÃO" value="object:398">SECRETARIA MUNICIPAL DE ADMINISTRAÇÃO</option>
                                    </select>

                                </div>
                            </div>

                        </div>



                        <div class="row align-items-center mb-3">
                            <div class="col-xs-12 col-sm-3">
                                <p class="d-flex mb-0 justify-content-end">
                                    <label>
                                        <span>Período</span>
                                    </label>
                                </p>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-11 d-flex justify-content-end">
                            <button class="btn btn-primary" ><i class="bi bi-search"></i> Pesquisar</button>
                        </div>








                </div>


                <div class="col-md-6 align-items-center d-flex">
                    <div>
                        <small class="mb-0 text-primary fw-bold">Total de Receitas</small>
                        <p>R$ 24395872938572985</p>

                        <small class="mb-0 fw-bold">Total arrecadado</small>
                        <p>R$ 24395872938572985</p>
                    </div>
                </div>
            </div>



        </div>
    </div>






    <div class="card p-3">
        <table id="demo-datatable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Posição</th>
                    <th>Escritório</th>
                    <th>Idade</th>
                    <th>Data de início</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Unity Butler</td>
                    <td>Marketing Designer</td>
                    <td>San Francisco</td>
                    <td>47</td>
                    <td>2009-12-09</td>
                    <td>
                        <div class="sm-hero__datatable-actions">
                            <a href="#" class="btn btn-sm btn-warning text-dark"><i class="bi bi-pencil"></i> Editar</a>
                            <a href="#" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i>Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Howard Hatfield</td>
                    <td>Office Manager</td>
                    <td>San Francisco</td>
                    <td>51</td>
                    <td>2008-12-16</td>
                    <td>
                        <div class="sm-hero__datatable-actions">
                            <a href="#" class="btn btn-sm btn-warning text-dark"><i class="bi bi-pencil"></i> Editar</a>
                            <a href="#" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i>Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Hope Fuentes</td>
                    <td>Secretary</td>
                    <td>San Francisco</td>
                    <td>41</td>
                    <td>2010-02-12</td>
                    <td>
                        <div class="sm-hero__datatable-actions">
                            <a href="#" class="btn btn-sm btn-warning text-dark"><i class="bi bi-pencil"></i> Editar</a>
                            <a href="#" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i>Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Vivian Harrell</td>
                    <td>Financial Controller</td>
                    <td>San Francisco</td>
                    <td>62</td>
                    <td>2009-02-14</td>
                    <td>
                        <div class="sm-hero__datatable-actions">
                            <a href="#" class="btn btn-sm btn-warning text-dark"><i class="bi bi-pencil"></i> Editar</a>
                            <a href="#" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i>Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Timothy Mooney</td>
                    <td>Office Manager</td>
                    <td>London</td>
                    <td>37</td>
                    <td>2008-12-11</td>
                    <td>
                        <div class="sm-hero__datatable-actions">
                            <a href="#" class="btn btn-sm btn-warning text-dark"><i class="bi bi-pencil"></i> Editar</a>
                            <a href="#" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i>Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Nome</th>
                    <th>Posição</th>
                    <th>Escritório</th>
                    <th>Idade</th>
                    <th>Data de Início</th>
                    <th>Ações</th>
                </tr>
            </tfoot>
        </table>
    </div>

</section>


<!-- Modal -->
<div class="modal fade modal-dialog-scrollable" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Helper para texto.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Checkbox</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x"></i> Fechar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="toastify('sucesso! registro cadastrado', 'success')"><i class="bi bi-save"></i> Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- main script -temp -->
<script>
    $(document).ready(function() {
        $('#demo-datatable').DataTable({
            paging: true,
            ordering: true,
            info: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json',
            },
        });
    });

    // toastify-js
    function toastify(message, type) {
        Toastify({
            text: message,
            duration: 3000,
            close: true,
            gravity: "bottom",
            position: "right",
            backgroundColor: type == 'success' ? "#4fbe87" : "#f83f37",
            stopOnFocus: true,
            className: "rounded",
            onClick: function() {}
        }).showToast();
    }
</script>