<div class="text-center row">
    <div class=" col-md-6">
        <img src="https://i.ibb.co/rwR854x/500-Internal-Server-Error-pana.png" alt="" class="img-fluid">
    </div>
    <div class=" col-md-6 mt-5">
        <p class="fs-3"> <span class="text-danger">Algo deu errado!</span> Por favor, tente novamente mais tarde.</p>
        <p class="lead"></p>
        <%= link_to "Retornar Página Inicial", root_path, class: "btn btn-sm btn-primary" %>
    </div>
</div>
