<div class="text-center row">
    <div class=" col-md-6">
        <img src="https://i.ibb.co/CBkQM2r/404-Error-Page-not-Found-with-people-connecting-a-plug-pana.png" alt="" class="img-fluid">
    </div>
    <div class=" col-md-6 mt-5">
        <p class="fs-3"> <span class="text-danger">Ops!</span> Não encontramos essa página.</p>
        <p class="lead"></p>
        <%= link_to "Retornar Página Inicial", root_path, class: "btn btn-sm btn-primary" %>
    </div>
</div>
