<div class="text-center row">
    <div class=" col-md-6">
        <img src="https://i.ibb.co/72DHQTb/401-Error-Unauthorized-pana.png" alt="" class="img-fluid">
    </div>
    <div class=" col-md-6 mt-5">
        <p class="fs-3"> <span class="text-danger">Ops!</span> Talvez você tentou mudar algo que você não tem permissão.</p>
        <p class="lead"></p>
        <%= link_to "Retornar Página Inicial", root_path, class: "btn btn-sm btn-primary" %>
    </div>
</div>
