<%%- model_class=<%= singular_table_name.titleize %> -%>

<%% content_for :breadcrumb do %>
    <li class="breadcrumb-item decoration-none">
        <%%= link_to model_class.model_name.human(count: 2).titleize, <%= plural_table_name %>_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%%= t('helpers.links.new') %></li>
<%% end %>


<section id="create-form-container">
    <h2><%%= t('helpers.titles.new', :model=> model_class.model_name.human.titleize) %></h2>
    <div class="row">
        <div class="col-md-12">
            <!-- commom bootstrap form -->
            <div class="card mb-4">
                <%%= render 'form' %>
            </div>
        </div>
    </div>
</section>