<aside class="expansible mini-aside-static" id="layoutSidenav_nav">
    <div class="sm-hero__sidenav">
        <div class="sm-hero__sidenav-menu">
            <nav class="nav bd-links">
                <ul class="list-unstyled py-2 p-0">
                    <%= render "layouts/partials/menu" %>
                </ul>
            </nav>
        </div>
    </div>
</aside>